*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* only for the layout -- please dont edit it*/
.main{
    height: 100%;
    display: flex;
    background-color: black;
    padding: 0.5rem;   
}
.sidebar{
    background-color: black;
    width: 400px;
    height: 100vh;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
.card{
    background-color: #141414;
    width: 100%;
    border-radius: 0.5rem;
}
.stickynav{
    width: 100%;
    background-color:#000;
    position: sticky;
    height: 3.5rem;
    margin-top: -18px;
    opacity: 0.5;
}
.player{
    background-color: #242424;
    position: fixed;
    width: 100%;
    height: 5rem;
    margin-top: 90vh;
    margin-left: -1rem;
}
/*from now on write the code what you want to add or edit in the page*/
.homesearch{
    border: none;
    color: white;
    border-radius: 0.5rem;
}
.homesearch a{
    text-decoration: none;
    color: white;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem; 
    opacity: 0.5;
    transition: 0.2s;
    
   
}
.homesearch a:hover{
    opacity: 1;
    background-color: #262626;
}
.createplaylist{
    border: none;
    border-radius: 0.5rem;
    color: white;
    height: 8rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-color: #242424;
}
.createplaylist #p1{
    font-size: 1.1rem;
    margin-bottom: 0.9rem;
}
.createplaylist #p2{
    font-size: 1.1rem;
    margin-bottom: 0.9rem;
}
.createplaylist button{
    border: none;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    font-weight: 600;
    font-size: 0.7rem;
    transition: 0.2s;
    margin-top: 1rem;
}
.createplaylist button:hover{
    scale: 1.05;
}
.browsepodcasts{
    border: none;
    border-radius: 0.5rem;
    color: white;
    height: 8rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #242424;
    
}
.browsepodcasts #p3{
    font-size: 1.1rem;
    margin-bottom: 0.9rem;
}
.browsepodcasts #p4{
    font-size: 1.1rem;
    margin-bottom: 0.9rem;
}
.browsepodcasts button{
    border: none;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    font-weight: 600;
    font-size: 0.7rem;
    transition: 0.2s;
    
}
.browsepodcasts button:hover{
    scale: 1.05;
}
.yourlib a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    margin-top: 1rem;
    margin-left: 1rem;
}
.yourlib img{
    height: 1rem;
    opacity: 0.5;
}
.yourlib img:hover{
    opacity:1;
}
.yourlib a:hover{
    opacity:1;
}

/*sticky nav properties*/
.card{
    position: sticky;
}
.stickynav {
    display: flex;
    justify-content: space-between;
    height: 4rem;  
}
.stickynav img{
    margin-top: 1.5rem;
    border-radius: 100%;
    background-color: #000;
    height: 1.5rem;
    opacity: 0.5;
}
.stickynav img:hover{
    opacity: 1;
}
.signin{
    background-color: #242424;
    color: white;
}
.signin:hover{
    scale: 1.05;
}
#login{
    background-color: white;
}
#login:hover{
    scale: 1.05;
}
.stickynav button{
    margin-top: 1rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    width: 4rem;
}
    
/* from now on the card section below*/
.cards{
    display: flex;
    display: inline;

}
#card1{
    height: 300px;
    width: 250px;
    background-color: #020202;
    overflow: hidden;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    transition: 0.3s;
}
#card1:hover{
    background-color: #242424;
}
#card1 img{
    height: 200px;
    width: 220px;
    border-radius: 1rem;
    margin-top: 0.6rem;
    margin-left: 0.95rem;
}
#card1 h5{
    text-align: center;
    font-size: 1rem;
    margin-top: 5px;
}
#card1 p{
    font-size: 12px;
    margin: 1rem;
}


#card{
    height: 300px;
    width: 250px;
    background-color: #020202;
    overflow: hidden;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    transition: 0.3s;
}
.cards h3{
    color: white;
    padding: 1rem;
}
.cards h3:hover{
    text-decoration: underline solid;
}

/*form below the play and pause menu*/
.player img{
    height: 1.5rem;
}   
.player #playericons{
    margin-left: 100vh;
    margin-top: 1rem;

}
#playericons img{
    justify-content: space-evenly;

}
.player input{
    width: 200vh;
    margin-left: 50px;

}
.player input{
    color: white;
}
#playericons:hover{
    cursor: pointer;
}
#card3{
    height: 300px;
    width: 250px;
    background-color: #020202;
    overflow: hidden;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    transition: 0.3s;

}